{% extends 'base.html' %}
{% load static %}
{% load tz %}

{% block custom_styles %}
    <link rel="stylesheet" href="{% static 'chat/css/style.css' %}">
{% endblock %}

{% block custom_scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="messaging">
            <div class="inbox_msg">
                <div class="inbox_people">
                    <div class="headind_srch">
                        <div class="recent_heading">
                            <h4>Recent</h4>
                        </div>
                    </div>
                    <div class="inbox_chat">
                        {% for room in rooms %}
                        <div class="chat_list active_chat">
                            <div class="chat_people">
                                <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                <div class="chat_ib">
                                    <h5>{% if room.first.id == user.id %} {{ room.second.first_name }} {% else %} {{ room.first.first_name }} {% endif %}
                                        <span class="chat_date">{{ room__message.count }}</span>
                                    </h5>
                                    <p>Test, which is a new approach to have all solutions
                                        astrology under one roof.</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="mesgs">
                    <div class="msg_history">
                        {% for message in messages %}
                        <div class="{% if message.author.id == user.id %}outgoing_msg{% else %}incoming_msg{% endif %}">
                            {% if message.author.id != user.id %}
                                <div class="incoming_msg_img">
                                    <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
                                </div>
                            {% endif %}
                            <div class="{% if message.author.id == user.id %}sent_msg{% else %}received_msg{% endif %}">
                                <div class="received_withd_msg">
                                    <p>{{ message.message }}</p>
                                    <span class="time_date">{{ message.pub_date|timezone:"Europe/Kiev" }}</span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="type_msg">
                        <div class="input_msg_write">
                            <input type="text" class="write_msg" placeholder="Type a message" />
                            <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script>
    <script>
        {% comment %}var username = "{{ username|escapejs }}";
        console.log(username);{% endcomment %}
        var chatSocket = new ReconnectingWebSocket(
            'ws://' + window.location.host + window.location.pathname);

        let currentUser = "{{ user.first_name|escapejs }}";

        chatSocket.onopen = function(e) {
            console.log(e)
        };

        chatSocket.onmessage = function(e) {
            let data = JSON.parse(e.data);
            console.log(data);
            let message = data['message'];
            let user = data['user'];

            console.log(currentUser);
            let messageType = (currentUser === user) ? 'outgoing_msg' : 'incoming_msg';
            let messageType2 = (currentUser === user) ? 'sent_msg' : 'received_msg';

            let default_img = (currentUser !== user) ?`<div class="incoming_msg_img">
                <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
            </div>` : '';

            $('.msg_history').append(`<div class="${messageType}">
                ${default_img}
                <div class="${messageType2}">
                    <div class="received_withd_msg">
                        <p>${message}</p>
                        <span class="time_date">${moment().format('MMM. DD, YYYY, h:mm a')}</span>
                    </div>
                </div>`);
            document.querySelector('.msg_history').scrollTop = 9999
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('.write_msg').focus();
        document.querySelector('.write_msg').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('.msg_send_btn').click();
            }
        };

        document.querySelector('.msg_send_btn').onclick = function(e) {
            var messageInputDom = document.querySelector('.write_msg');
            var message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));

            messageInputDom.value = '';
        };
    </script>
{% endblock %}