<!-- chat/templates/chat/room.html -->
{% extends 'base.html' %}

{% block content %}
<textarea id="chat-log" cols="100" rows="20">{{ chat_messages }}</textarea><br/>
<input id="chat-message-input" type="text" size="100"/><br/>
<input id="chat-message-submit" type="button" value="Send"/>

<h3>Chats:</h3>
    <ul>
        {% for room in rooms %}
            <li>
                <a href="/message/{% if room.first.id == user.id %}{{ room.second.id }}{% else %}{{ room.first.id }}{% endif %}/">
                    {% if room.first.id == user.id %} {{ room.second.first_name }} {% else %} {{ room.first.first_name }} {% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>
<script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script>
<script>
    {% comment %}var username = "{{ username|escapejs }}";
    console.log(username);{% endcomment %}
    var chatSocket = new ReconnectingWebSocket(
        'ws://' + window.location.host + window.location.pathname);

    chatSocket.onopen = function(e) {
        console.log(e)
    };

    chatSocket.onmessage = function(e) {
        let data = JSON.parse(e.data);
        console.log(data);
        let message = data['message'];
        let user = data['user'];

        document.querySelector('#chat-log').value += (user + ' - ' + message + '\n');
        document.querySelector('#chat-log').scrollTop = 9999
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message
        }));

        messageInputDom.value = '';
    };
</script>
{% endblock %}