{% extends 'base.html' %}

{% block content %}
    <div class="row">
        {% for user in users %}
        <div class="col s3 m3">
            <div class="card">
                <div class="card-image">
                    <img src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png">
                    <span class="card-title">{{ user.first_name }} {{ user.last_name }}</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                </div>
                <div class="card-action">
                    <a href="/message/{{ user.id }}/">Send message</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <script>

        console.log(moment().format('MMM. DD, YYYY, h:mm a'))
    </script>
{% endblock %}